/*
 * ------------
 *  bar widget
 * ------------
*/

.bar {
  // background-color: rgb(28, 28, 28, 0.94);
  background-color: rgba($background, 0.1);
  color: rgb(49, 50, 68);
  font-size: 14px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

